############################## 
#
# Test config
# Use this before you connect your site to your domain
# The site will be served over http on port 80 and accept
# Connections from any domain
# 
##############################

:80 {
    log stdout
    errors stderr
}



############################## 
#
# Actual config
# Once you have modified your DNS 
# settings use this config to set up https
# 
##############################

#<DOMAIN(S)> {
#    tls <EMAIL_ADDRESS>
#    log stdout
#    errors stderr
#}